<template>
  <div :class="{[menuMobileClasses]: menu}">
    <v-btn
      v-for="(item, i) in nav"
      :key="i"
      active-class="no-active"
      :to="localePath(item.to)"
      exact
      text
      nuxt
      v-bind="buttonProps"
    >
      {{ $t(item.titleKey) }}
    </v-btn>
  </div>
</template>

<script lang='typescript'>
export default {
  name: 'MenuItems',
  props: {
    nav: {
      type: Array,
      default: () => {
        return [
          {
            titleKey: 'home',
            to: '/'
          },
          {
            titleKey: 'projects',
            to: '/projects'
          },
          {
            titleKey: 'experience',
            to: '/experience'
          },
          {
            titleKey: 'contacts',
            to: '/contacts'
          }
        ]
      }
    },
    menu: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    menuMobileClasses () {
      return 'd-flex flex-column'
    },
    buttonProps () {
      if (this.menu) {
        return { 'x-large': true }
      } else if (this.$vuetify.breakpoint.smAndDown) {
        return { small: true }
      } else {
        return {}
      }
    }
  }
}
</script>
