<template>
  <div :class="{'d-flex flex-column': menu}">
    <v-btn
      v-for="(item, i) in nav"
      :key="i"
      class="inactive"
      active-class="active"
      :to="localePath(item.to)"
      exact
      text
      nuxt
    >
      {{ $t(item.titleKey) }}
    </v-btn>
  </div>
</template>

<script lang='typescript'>
export default {
  name: 'MenuActiveItem',
  props: {
    nav: {
      type: Array,
      default: () => {
        return [
          {
            titleKey: 'home',
            to: '/'
          },
          {
            titleKey: 'projects',
            to: '/projects'
          },
          {
            titleKey: 'experience',
            to: '/experience'
          },
          {
            titleKey: 'contacts',
            to: '/contacts'
          }
        ]
      }
    },
    menu: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style lang="scss" scoped>
.inactive {
  display: none;
  pointer-events: none;
}
.active {
  display: flex;
}
.active::before {
  opacity: 0;
}
</style>
