
<template>
  <v-container v-if="mobile" class="navigation-bar py-0 fill-height">
    <portfolio-logo
      :class="[logoMargin]"
      :size="50"
    />
    <menuItems
      :nav="nav"
    />
    <v-spacer />
    <v-menu
      bottom
      left
    >
      <template #activator="{ on, attrs }">
        <v-btn
          icon
          v-bind="attrs"
          v-on="on"
        >
          <v-icon>mdi-web</v-icon>
        </v-btn>
      </template>
      <v-list>
        <v-list-item
          v-for="locale in allLocales"
          :key="locale.code"
          :to="switchLocalePath(locale.code)"
        >
          <v-list-item-title>{{ locale.name }}</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
  </v-container>
  <v-container v-else class="pa-0 fill-height">
    <v-btn
      icon
      @click="changeDrawerState"
    >
      <v-icon>mdi-menu</v-icon>
    </v-btn>
    <menuActiveItem
      :nav="nav"
    />
    <v-spacer />
    <v-menu
      bottom
      left
    >
      <template #activator="{ on, attrs }">
        <v-btn
          icon
          v-bind="attrs"
          v-on="on"
        >
          <v-icon>mdi-web</v-icon>
        </v-btn>
      </template>
      <v-list>
        <v-list-item
          v-for="locale in allLocales"
          :key="locale.code"
          :to="switchLocalePath(locale.code)"
        >
          <v-list-item-title>{{ locale.name }}</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
  </v-container>
</template>

<script>

export default {
  name: 'NavigationBar',
  props: {
    nav: {
      type: Array,
      default: () => {
        return [
          {
            titleKey: 'home',
            to: '/'
          },
          {
            titleKey: 'projects',
            to: '/projects'
          },
          {
            titleKey: 'experience',
            to: '/experience'
          },
          {
            titleKey: 'contacts',
            to: '/contacts'
          }
        ]
      }
    },
    menu: {
      type: Boolean,
      default: false
    },
    mobile: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      drawer: false
    }
  },
  computed: {
    allLocales () {
      return this.$i18n.locales
    },
    currentLocale () {
      return this.$i18n.locale
    },
    logoMargin () {
      return this.$vuetify.breakpoint.smAndDown ? 'mr-4' : 'mr-8'
    }
  },
  methods: {
    changeDrawerState () {
      this.$store.commit('ui/toggleDrawer')
    }
  }
}
</script>
