<i18n>
{
  "en-US": {
    "logo": "Anatoliy Yemets"
  },
  "uk-UA": {
    "logo": "Анатолій Ємець"
  }
}
</i18n>

<template>
  <NuxtLink
    :to="localePath('/')"
  >
    <img
      class="portfolio-logo"
      alt="Portfolio logo &quot;AY&quot;"
      src="/media/images/logo.svg"
      :style="styles"
    >
  </NuxtLink>
</template>

<script>
export default {
  name: 'PortfolioLogo',
  props: {
    size: {
      type: Number,
      default: 36
    }
  },
  computed: {
    styles () {
      return 'height: ' + this.size + 'px'
    },
    currentLocale () {
      return this.$i18n.locale
    }
  }
}
</script>
