<template>
  <video
    muted
    loop
    autoplay
  >
    <source
      :src="url"
      type="video/mp4"
    >
  </video>
</template>

<script>
export default {
  name: 'VideoBackground',
  props: {
    url: {
      type: String,
      default: ''
    }
  }
}

</script>

<style lang="scss" scoped>
video {
    height: 100%;
    width: 100%;
}
</style>
