// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$material-light: ( 'background': #E0F2F1 );
$grid-breakpoints: (
  xs: 0,
  sm: 340px,
  md: 540px,
  lg: 800px - 24px,
  xl: 1280px - 24px
);