<template>
  <v-app dark>
    <v-navigation-drawer
      v-model="drawerState"
      disable-resize-watcher
      app
    >
      <menuItems
        menu
        :nav="nav"
      />
    </v-navigation-drawer>

    <v-app-bar
      fixed
      app
      flat
      color="green lighten-4"
      :prominent="$vuetify.breakpoint.smAndUp"
      :extension-height="$vuetify.breakpoint.smAndUp ? 64 : 54"
    >
      <template #img>
        <v-img
          src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
          gradient="to top right, rgba(19,84,122,.5), rgba(128,208,199,.8)"
        />
      </template>
      <template #default>
        <v-container v-if="!$vuetify.breakpoint.smAndUp" class="py-0 fill-height d-flex justify-center">
          <portfolio-logo />
        </v-container>
        <NavigationBar
          v-else
          :mobile="$vuetify.breakpoint.smAndUp"
          :nav="nav"
        />
      </template>
      <template v-if="!$vuetify.breakpoint.smAndUp" #extension>
        <NavigationBar
          :mobile="$vuetify.breakpoint.smAndUp"
          :nav="nav"
        />
      </template>
    </v-app-bar>

    <v-main
      color="teal lighten-5"
    >
      <v-container class="main-container pa-0 px-4 fill-height align-start justify-start">
        <Nuxt />
      </v-container>
    </v-main>
    <v-footer
      app
      color="#80BCB6"
    >
      <v-container class="pa-0 px-2 d-flex justify-end">
        <v-btn
          class="white--text"
          text
          small
          href="mailto:anatoliy.yemets@gmail.com"
        >
          anatoliy.yemets@gmail.com
        </v-btn>
      </v-container>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  name: 'DefaultLayout',
  data () {
    return {
      nav: [
        {
          titleKey: 'home',
          to: '/'
        },
        {
          titleKey: 'projects',
          to: '/projects'
        },
        {
          titleKey: 'contacts',
          to: '/contacts'
        }
      ],
      drawer: false
    }
  },
  computed: {
    drawerState: {
      get () {
        return this.$store.state.ui.drawer
      },
      set (newValue) {
        this.$store.commit('ui/setDrawer', newValue)
      }
    }
  },
  watch: {
    '$vuetify.breakpoint.smAndUp' (newValue) {
      if (newValue) {
        this.$store.commit('ui/setDrawer', false)
      }
    }
  }

}
</script>

<style lang="scss" scoped>
.background-image {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.v-main::before {
    content: '';
    position: absolute;
    bottom: 36px;
    left: 0;
    height: 30%;
    width: 100%;
    background-image: url(/media/images/wave.svg);
    background-position: bottom;
    background-size: cover;
}

.v-toolbar {
  font-size: 1.5rem !important;
}

</style>
