<i18n>
{
  "en-US": {
    "title": "Contacts",
    "contactme": "Get in touch",
    "email": "email me",
    "links": "Links",
    "linkedin": "LinkedIn",
    "gitlab": "Gitlab"
  },
  "uk-UA": {
    "title": "Контакти",
    "contactme": "Зв'язатися",
    "email": "відправити лист",
    "links": "Посилання",
    "linkedin": "LinkedIn",
    "gitlab": "Gitlab"
  }
}
</i18n>

<template>
  <v-container class="ma-0 pa-0">
    <v-row class="mt-3">
      <v-col :cols="columns">
        <v-card>
          <v-card-title class="text-h5">
            {{ $t('contactme') }}
          </v-card-title>
          <v-card-text>
            <v-btn
              color="purple darken-4"
              large
              text
              :href="'mailto:' + email.link"
            >
              {{ $t('email') }}
              <v-icon
                class="ml-2"
                size="28"
              >
                {{ email.icon }}
              </v-icon>
            </v-btn>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col :cols="columns">
        <v-card>
          <v-card-title class="text-h5">
            {{ $t('links') }}
          </v-card-title>
          <v-card-text>
            <v-btn
              v-for="(link, linkIndex) in links"
              :key="linkIndex"
              color="purple darken-4"
              text
              large
            >
              {{ $t(link.nameKey) }}
              <font-awesome-icon class="ml-2 fa-2x" :icon="self[link.icon]" />
            </v-btn>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { faGitlab, faLinkedin } from '@fortawesome/free-brands-svg-icons'

export default {
  name: 'ContactsPage',
  data () {
    return {
      self: this,
      email: {
        link: 'anatoliy.yemets@gmail.com',
        icon: 'mdi-email'
      },
      links: [
        {
          nameKey: 'gitlab',
          link: 'https://gitlab.com/ex47',
          icon: 'faGitlab'
        },
        {
          nameKey: 'linkedin',
          link: 'https://linkedin.com/',
          icon: 'faLinkedin'
        }
      ]
    }
  },
  head () {
    return {
      title: this.$t('title')
    }
  },
  computed: {
    faGitlab () {
      return faGitlab
    },
    faLinkedin () {
      return faLinkedin
    },
    columns () {
      return this.$vuetify.breakpoint.mdAndUp ? 6 : 12
    }
  }
}
</script>
