<i18n>
{
  "en-US": {
    "helpdesk": "IT HelpDesk",
    "technician": "Computer Technician",
    "juniorsysadmin": "Junior System Administrator",
    "frontend": "Frontend Developer",
    "leadfrontend": "Lead Frontend Developer",
    "zdu": "Zhytomyr Ivan Franko State University",
    "lamoda": "Lamoda Group",
    "viseven": "Viseven",
    "self": "Self-employed",
    "zhytomyr": "Zhytomyr",
    "remote": "Remote",
    "responsibilities": "Responsibilities: ",
    "job5": [
      "Developing interactive visual assets for iOS using Vue.js-based framework",
      "Developing and maintaining components for Vue.js-based framework",
      "Distributing internal and commercial tasks among developers",
      "Indentifing weaknesses in the team and provididing solutions",
      "Providing techical assistance to developers",
      "Facilitating regular code review inside the team",
      "Communicating technical side to managers in simple terms",
      "Communicating with the client on complex projects",
      "Maintaining team's Git structure and documentation",
      "Taking part in staff selection",
      "Onboarding new team members"
    ],
    "job4": [
      "Developing responsive websites using JS/HTML/CSS for Adobe Experience Manager",
      "Estimating development from Figma/InDesign/Adobe XD designs",
      "Creating deployment packages for AEM",
      "Documenting complex projects in Confluence"
    ],
    "job3": [
      "Resolving support tickets in HelpDeskEddy and Jira",
      "Take on special projects (research, scripting, development, etc)",
      "Working with documentation in Confluence",
      "Remote and onsite technical support to end users",
      "Managing IT hardware inventory",
      "Managing and automating app and os deployment using Puppet",
      "Servicing of equipment"
    ],
    "job2": [
      "Remote and physical technical support to end users",
      "Provided support within user-designated budget",
      "Home/office network setup",
      "Servicing of user equipment"
    ],
    "job1": [
      "Providing technical support for users across university",
      "End-user stations repair",
      "Set up of desktop hardware and software",
      "Servicing of peripheral equipment",
      "Assisting with network installation and troubleshooting"
    ]
  },
  "uk-UA": {
    "helpdesk": "IT HelpDesk",
    "technician": "Computer Technician",
    "juniorsysadmin": "Junior System Administrator",
    "frontend": "Frontend Developer",
    "leadfrontend": "Lead Frontend Developer",
    "zdu": "Університет Імені Івана Франка",
    "lamoda": "Lamoda Group",
    "viseven": "Viseven",
    "self": "Самозайнятість",
    "zhytomyr": "Житомир",
    "remote": "Віддалено",
    "responsibilities": "Робочі обов'язки: ",
    "job5": [
      "Розробка інтерактивних візуальних ресурсів для iOS з використанням фреймворку на основі Vue.js",
      "Розробка і підтримка компонентів для фреймворку на основі Vue.js",
      "Розподіл внутрішніх та комерційних завдань між розробниками",
      "Визначення слабких місць у команді та надання рішень",
      "Надання технічної підтримки розробникам",
      "Проведення регулярних code review в команді",
      "Комунікація технічної сторони до менеджерів простими словами",
      "Комунікація з клієнтом на складних проектах",
      "Підтримка структури Git та документації команди",
      "Участь у відборі нових співробітників",
      "Онбордінг нових співробітників"
    ],
    "job4": [
      "Розробка responsive вебсайтів JS/HTML/CSS для Adobe Experience Manager",
      "Оцінка розробки з Figma/InDesign/Adobe XD дизайнів",
      "Створення пакетів для AEM",
      "Документування складних проектів в Confluence"
    ],
    "job3": [
      "Розв’язування тікетів в HelpDeskEddy та Jira",
      "Виконання спеціальних проектів (дослідження, скриптування, розробка внутрішніх рішень, тощо)",
      "Робота з документацією в Confluence",
      "Віддалена та локальна технічна підтримка користувачів",
      "Управління інвентарем техніки",
      "Управління і автоматизацією розгортання додатків та операційних систем використовуючи Puppet",
      "Обслуговування обладнання"
    ],
    "job2": [
      "Віддалена та локальна технічна підтримка користувачів",
      "Надання технічної підтримки у рамках бюджету користувача",
      "Налаштування мереж у домі/в офісі",
      "Обслуговування обладнання користувачів"
    ],
    "job1": [
      "Надання технічної підтримки користувачам по університету",
      "Ремонт робочих станів користувачів",
      "Налаштування обладнання і ПЗ",
      "Обслуговування обладнання",
      "Допомога в налаштуванні і обслуговуванні локальних мереж"
    ]
  }
}
</i18n>

<template>
  <v-container
    class="ma-0 ml-n4 pa-0 "
    :class="{'mobile-experience-page': isXs}"
  >
    <v-timeline
      dense
      :class="{'mobile-timeline-item': isXs}"
    >
      <v-timeline-item
        v-for="(job, jobIndex) in experience"
        :key="jobIndex"
        small
      >
        <template #icon>
          <v-avatar
            color="white"
            :size="isXs? 24 : 48"
          >
            <img :src="job.logo">
          </v-avatar>
        </template>
        <v-card>
          <v-card-title class="text-h5 pb-0">
            {{ $t(job.titleKey) }}
          </v-card-title>
          <v-card-text>
            <v-sheet class="px-0 pt-0 pb-4">
              <div class="d-flex flex-column flex-sm-row justify-start">
                <div
                  class="text-subtitle-1 preserve-spaces"
                  v-text="$t(job.organizationKey) + ', ' + $t(job.locationKey)"
                />
              </div>
              <div v-if="job.ended !== ''" class="d-flex flex-column flex-sm-row justify-start">
                <div
                  class="text-subtitle-1 preserve-spaces"
                  v-text="formatDate(job.started) + ' — ' + formatDate(job.ended)"
                />
              </div>
              <div v-else class="d-flex flex-column flex-sm-row justify-start">
                <div
                  class="text-subtitle-1"
                  v-text="formatDate(job.started)"
                />
              </div>
            </v-sheet>
            <v-sheet class="px-0 pb-1">
              <div
                class="text-subtitle-2 text-sm-h6"
                v-text="$t('responsibilities')"
              />
            </v-sheet>
            <v-sheet class="pa-0">
              <v-list
                dense
                class="pa-0"
              >
                <v-list-item
                  v-for="(responsibility, responsibilityIndex) in $t(job.responsibilities)"
                  :key="responsibilityIndex"
                  class="pa-0"
                  dense
                >
                  <v-list-item-content class="py-0">
                    <v-list-item-title>
                      <div class="text-body-2 text-wrap" v-text="'• ' + responsibility" />
                    </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </v-list>
            </v-sheet>
          </v-card-text>
        </v-card>
      </v-timeline-item>
    </v-timeline>
  </v-container>
</template>

<script>
export default {
  name: 'ExperiencePage',
  data () {
    return {
      experience: [
        {
          logo: 'media/images/companies/LogoViseven.png',
          titleKey: 'leadfrontend',
          organizationKey: 'viseven',
          locationKey: 'remote',
          started: '05.2021',
          ended: '',
          responsibilities: 'job5'
        },
        {
          logo: 'media/images/companies/LogoViseven.png',
          titleKey: 'frontend',
          organizationKey: 'viseven',
          locationKey: 'remote',
          started: '09.2020',
          ended: '04.2021',
          responsibilities: 'job4'
        },
        {
          logo: 'media/images/companies/lamoda.png',
          titleKey: 'juniorsysadmin',
          organizationKey: 'lamoda',
          locationKey: 'zhytomyr',
          started: '05.2019',
          ended: '06.2020',
          responsibilities: 'job3'
        },
        {
          logo: 'media/images/companies/pcrepair.png',
          titleKey: 'technician',
          organizationKey: 'self',
          locationKey: 'zhytomyr',
          started: '08.2017',
          ended: '04.2019',
          responsibilities: 'job2'
        },
        {
          logo: 'media/images/companies/zdu.png',
          titleKey: 'helpdesk',
          organizationKey: 'zdu',
          locationKey: 'zhytomyr',
          started: '10.2013',
          ended: '07.2016',
          responsibilities: 'job1'
        }
      ]
    }
  },
  computed: {
    isXs () {
      return this.$vuetify.breakpoint.xs
    }
  },
  methods: {
    formatDate (date) {
      const month = parseInt(date.split('.')[0], 10)
      const year = date.split('.')[1]
      let monthName = Intl.DateTimeFormat(this.$i18n.locale, { month: 'long' }).format(new Date().setMonth(month - 1))
      monthName = monthName[0].toUpperCase() + monthName.substring(1)
      return monthName + ' ' + year
    }
  }
}
</script>

<style lang="scss" scoped>
.preserve-spaces {
  white-space: pre-wrap;
}

.mobile-timeline-item::v-deep {
  &::before {
    left: calc(26px - 1px) !important;
  }
  .v-timeline-item .v-timeline-item__body {
    max-width: calc(100% - 52px);
  }
  .v-timeline-item__divider {
    min-width: 52px;
  }
  .v-card__title {
    word-break: break-word;
  }
  .v-list-item--dense {
    min-height: 20px;
  }
}

.mobile-experience-page {
  width: calc(100% + 16px);
}
</style>
