<i18n>
{
  "en-US": {
    "title": "Home",
    "hello": "Hi, i'm Anatoliy",
    "who": "I'm a Web Developer with 2 years of experience based in Ukraine. In my free time I enjoy mountain biking",
    "what": "Love to build things and have a passion for web development",
    "how": "I'm always looking for challenges and opportunities to learn something new. <br><br> I’m available for freelance work and full-time employment. If you’re interested, please get in touch."
  },
  "uk-UA": {
    "title": "Головна",
    "hello": "Привіт, мене звати Анатолій",
    "who": "Я займаюся веб розробкою 2 роки. У вільний час подорожую на своєму велосипеді",
    "what": "Люблю створювати і захоплююсь веб розробкою",
    "how": "Завжди у пошуках нових викликів і можливостей для навчання. <br><br> Наразі доступний як для фрілансу так і фулл тайм роботи. Якщо ви зацікавлені - зв'яжіться зі мною."
  }
}
</i18n>

<template>
  <v-container class="ma-0 pa-0 pt-0">
    <v-row :class="rowClasses">
      <v-col :class="leftColClasses">
        <div>
          <div
            class="text-h4 text-md-h3 text-lg-h2"
            v-text="'👋'"
          />
          <br>
          <div
            :class="homeTitleClasses"
            v-text="$t('hello')"
          />
          <div
            :class="homeSubtitleClasses"
            width="300"
            v-text="$t('who')"
          />
        </div>
      </v-col>
      <v-col :class="rightColClasses">
        <v-img
          width="400"
          src="/media/images/me.jpg"
        />
      </v-col>
    </v-row>
    <v-row :class="rowClasses" class="pb-md-16">
      <v-col :class="leftColClasses">
        <div
          :class="homeTitleClasses"
          v-text="$t('what')"
        />
        <div
          :class="homeSubtitleClasses"
          v-html="$t('how')"
        />
      </v-col>
      <v-col :class="rightColClasses">
        <v-img
          width="400"
          src="/media/images/me-bike.jpg"
        />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>

export default {
  name: 'HomePage',
  data () {
    return {
    }
  },
  head () {
    return {
      title: this.$t('title')
    }
  },
  computed: {
    rowClasses () {
      return 'flex-column flex-lg-row flex-nowrap pt-8 pt-md-10'
    },
    homeTitleClasses () {
      return 'text-h5 text-md-h4 text-xl-h3 mb-6'
    },
    homeSubtitleClasses () {
      return 'text-body-1 text-md-subtitle-1 text-lg-h5'
    },
    leftColClasses () {
      return 'd-flex flex-column justify-center'
    },
    rightColClasses () {
      return 'd-flex flex-column flex-grow-0 flex-shrink-1 justify-center align-center'
    }
  },
  methods: {

  }
}
</script>

<style lang="scss" scoped>
</style>
