<i18n>
{
  "en-US": {
    "title": "Projects",
    "visit": "Visit",
    "code": "Source code",
    "awop": "Audible Waves Of Pressure",
    "madtyping": "Mad Typing",
    "description-awop": "This website shows my music stats using Last.fm API. You can also look up other users. I implemented the background as a 3D scene (sort of like audio waves) which reacts to mouse movement.",
    "description-madtyping": "\"Mad typing\" is a speed typing game where you always lose. For this project I had to implement a game loop using requestAnimationFrame().",
    "short-description-awop": "Last.fm profile page",
    "short-description-madtyping": "Typing game"
  },
  "uk-UA": {
    "title": "Проекти",
    "visit": "Відвідати",
    "code": "Код",
    "awop": "Audible Waves Of Pressure",
    "madtyping": "Mad Typing",
    "description-awop": "Цей сайт показує мої статистики прослуховування музики за допомогою Last.fm API. Також можна переглянути статистику інших користувачів. Я впровадив задній план як 3D сцену (подібно до аудіо хвиль) яка реагує на рух миші.",
    "description-madtyping": "\"Mad typing\" це гра  де потрібно швидко набирати текст і ти завжди програєш. Для цього проекту довелося написати ігровий цикл використовуючи requestAnimationFrame().",
    "short-description-awop": "Профіль Last.fm",
    "short-description-madtyping": "Typing game"
  }
}
</i18n>

<template>
  <v-container class="ma-0 pa-0">
    <v-row
      v-for="(project,projectIndex) in projects"
      :key="projectIndex"
      :class="['mb-6 py-0' ,{'mt-6': projectIndex === 0}]"
    >
      <v-col class="py-0">
        <v-card
          class="d-flex flex-no-wrap"
          :class="[orientation]"
        >
          <div
            class="d-flex flex-column flex-grow-1 flex-no-wrap"
          >
            <v-card-title class="text-h5">
              {{ $t(project.nameKey) }}
            </v-card-title>
            <v-card-subtitle>
              {{ $t(project.shortDescriptionKey) }}
            </v-card-subtitle>
            <v-card-text class="my-0">
              <v-chip
                v-for="(technology,technologyIndex) in project.techUsed"
                :key="technologyIndex"
                class="ml-2 my-2"
                small
              >
                {{ technology }}
              </v-chip>
              <v-divider class="mb-4" />
              {{ $t(project.descriptionKey) }}
            </v-card-text>
            <v-spacer />
            <v-card-actions>
              <v-btn
                color="purple darken-4"
                text
                :href="project.link"
                target="_blank"
              >
                {{ $t('visit') }}
              </v-btn>
              <v-btn
                color="purple darken-4"
                text
                :href="project.code"
                target="_blank"
              >
                {{ $t('code') }}
              </v-btn>
            </v-card-actions>
          </div>
          <v-sheet
            rounded
            class="d-flex flex-column justify-center flex-grow-0 flex-shrink-0"
          >
            <v-sheet
              rounded
              class="d-flex flex-grow-0 flex-shrink-0 ma-md-3"
              :height="height"
            >
              <video-background
                :class="{'video-background-mobile': !isMdAndUp}"
                :url="project.preview"
              />
            </v-sheet>
          </v-sheet>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: 'ProjectsPage',
  data () {
    return {
      projects: [
        {
          nameKey: 'awop',
          link: 'https://audible-waves-of-pressure.gitlab.io/',
          code: 'https://gitlab.com/audible-waves-of-pressure/audible-waves-of-pressure.gitlab.io',
          descriptionKey: 'description-awop',
          shortDescriptionKey: 'short-description-awop',
          techUsed: ['Angular 2', 'Three.js', 'Last.fm API'],
          preview: '/media/videos/projects/awop.mp4'
        },
        {
          nameKey: 'madtyping',
          link: 'https://mad-typing.gitlab.io/',
          code: 'https://gitlab.com/mad-typing/mad-typing.gitlab.io',
          descriptionKey: 'description-madtyping',
          shortDescriptionKey: 'short-description-madtyping',
          techUsed: ['Vue 3', 'Vuelidate'],
          preview: '/media/videos/projects/madtyping.mp4'
        }
      ]
    }
  },
  head () {
    return {
      title: this.$t('title')
    }
  },
  computed: {
    isMdAndUp () {
      return this.$vuetify.breakpoint.mdAndUp
    },
    orientation () {
      return this.isMdAndUp ? 'flex-row' : 'flex-column-reverse'
    },
    height () {
      return this.isMdAndUp ? 250 : null
    }
  }
}
</script>

<style scoped>
.video-background-mobile {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
</style>
